* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 200px;
    height: 400px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #1d1d19;
    margin: 20px;

}

.board {
    min-width: 300px;
    min-height: 400px;
    border: 5px solid lightgrey;
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.item {
    width: 100%;
    border-radius: 6px;
    border: 2px solid lightpink;
    padding: 10px;
    margin: 5px 0;
    cursor: grab;
    background-color: aqua;
}







