* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 200px;
    height: 400px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #1d1d19;
    margin: 20px;

}







